header {
        background-color:#000000;
        margin:0px;
        padding-bottom:20px;
        padding-top:20px;
        text-decoration: none;
        text-align: center;
}

header li {
    display: inline-block;
    width:32%;
    text-align: center;
}

ul { 
    margin: 0px;
    padding: 0px;
}

    